.post-container{
display: flex;
flex-direction: column;
width: 600px;
margin: auto;
margin-bottom: 20px;
padding: 15px;
border-radius: 20px;
line-height: 30px;
background-color: rgb(206, 228, 230);
position: relative;
}

.title-content{
  font-size: 24px;
  font-weight: 500;
  padding: 3px;
  font-family: 'Fraunces', serif;
}

.post-content{
  font-size: 15px;
  padding: 3px;
}

.edit-icon{
  width: 20px;
  object-fit: contain;
  position: absolute;
  top: 13;
  right: 13;
  opacity: 0.6;
}